In [15]:
select * from Bank5
select * from Bank6
SELECT coalesce(sender, receiver) AS bank_user,
coalesce(Totalin, 0) - coalesce(Totalsent, 0) AS net_change
FROM Bank5
FULL JOIN Bank6
ON Bank5.Sender=Bank6.ReceiverCREATE TABLE Banks(
    Sender int,
    Receiver int,
    Amount int,
    Transaction_date datetime
);
INSERT INTO Banks(Sender, Receiver, Amount, Transaction_date)
VALUES
( 5,2,10,2-12-20), ( 1,3,15,2-13-20), ( 2,1,20,2-13-20),( 2,3,25,2-14-20),( 3,1,20,2-15-20),
( 3,2,15,2-15-20),( 1,4,5,2-16-20);
---
select Sender,sum(Amount) as Totalsent into Bank5
from Banks
group by Sender
--
select Receiver, sum(Amount) as Totalin into Bank6
from Banks
group by Receiver
---
C

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Banks' in the database.

In [16]:
select Sender,sum(Amount) as Totalsent into Bank5
from Banks
group by Sender

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Bank5' in the database.

In [17]:
--
select Receiver, sum(Amount) as Totalin into Bank6
from Banks
group by Receiver

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'Bank6' in the database.

Sender,Totalsent
1,20
2,45
3,35
5,10

Receiver,Totalin
1,40
2,25
3,40
4,5

bank_user,net_change
1,20
2,-20
3,5
5,-10
4,5